:root{
    --titulo: 'Pacifico', cursive;
    --subtitulos: 'Plus Jakarta Sans', sans-serif;
    --texto: 'Poppins', sans-serif;
    --primary2: #488FDD;
    --primary1: #3781E3;
    --accent: #75A4DA;
    --BG1: #A5C8F3;
    --BG2: #AECEF4;
    --text: #00214D;
  }
.container-global-crud{
    font-family: var(--texto);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    width: 75%;
    gap: 20px;
}
.container-crud-c{
    text-align: center;
    background-color: var(--accent);
    padding: 50px;
    border-radius: 30px;
}
.container-crud-c h2{
    color: var(--text);
}
.crud-create-info{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.crud-create-info label{
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    padding: 10px;
}
.crud-create-info input{
    border-radius: 30px;
    padding: 10px;
    border: hidden;
    text-align: center;
}
.crud-create-info button{
    color: var(--BG2);
    font-weight: 700;
    background-color: var(--text);
    border-radius: 30px;
    border: hidden;
}
.crud-create-info button:hover{
    color: var(--text);
    background-color: var(--BG1);
}
.container-crud-rud{
    background-color: var(--accent);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    color: var(--text);
}

/* container */
.content {
  max-width: 1000px;
  margin: 0 auto;
}
/* table */
.read table {
    background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 50%;
  /*border: 1px solid #ddd;*/
}

.read table thead {
  	background-color: #ebeef1;
  	border-bottom: 1px solid #d3dae0;
}

.read table thead td {
  	padding: 10px;
  	font-weight: bold;
  	color: #767779;
  	font-size: 14px;
}

.read table tbody tr {
  	border-bottom: 1px solid #d3dae0;
}


th, td {
  text-align: left;
  padding: 8px;
}
.read tr:nth-child(even){background-color: #f2f2f2}

.read table tbody tr:hover {
  	background-color: #376ab7;
}

.read table tbody tr:hover td {
  	color: #FFFFFF;
}

.read table tbody tr:hover td:nth-child(1) {
  	color: #FFFFFF;
}

.read table tbody tr td {
  	padding: 10px;
}

.read table tbody tr td:nth-child(1) {
  	color: #a5a7a9;
}

.read table tbody tr td.actions {
  	padding: 8px;
  	text-align: right;
}

.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
  	display: inline-flex;
  	text-align: right;
  	text-decoration: none;
  	color: #FFFFFF;
  	padding: 10px 12px;
}

.read table tbody tr td.actions .trash {
  	background-color: var(--accent);
}
.read table tbody tr td.actions .trash:hover{
    background-color: var(--BG1);
}

.read table tbody tr td.actions .edit {
  	background-color: var(--text);
}

.read table tbody tr td.actions .edit:hover {
  	background-color: var(--primary1);
}
@media screen and (min-width:1300px){
    .crud-create-info input{
        margin: 0 auto;
        width: 50%;
    }
    .crud-create-info button{
        margin: 10px auto;
        padding: 10px 0 10px 0 ;
        width: 25%;
}
}