header{
    font-family: var(--titulo);
}

header a{
  color: var(--primary2);
}

.header{
  width: 100%;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul li{
  padding-bottom: 10px;
  margin: 0 auto;
}
.header ul li a  {
  text-align:center;
  display: block;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans';
  color: var(--text);
}

.container-register .btn-registrarse{
  text-align: center;
  background-color: var(--text);
  border-radius: 20px;
  color: var(--BG1);
  font-weight: 700;
}


.header ul li a:hover{
  color: var(--primary1);
}


header .logo{
  float: left;
  display: block;
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
  font-family: var(--titulo);
}


.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
 padding-top: 20px;
 margin-left: 20px;
 margin-right:10px;
 position: relative;
 float: right;
 cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
  }

.header .menu-icon .nav-icon:after{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
  }

.header .menu-btn {
  display: none;
} 

.header .menu-btn:checked ~ .menu{
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
 background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
 transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

.desc-caja{
    display: flex;
    justify-content: space-between;
    margin: 25px auto 125px auto;
    padding: 25px;
    background-color: white;
    width: 750px;
    height: 750px;
    border-radius: 25px;
}

.desc-content{
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.desc-title, .desc-subtitle{
    font-family: Poppins;
}

.desc-content p{
    font-family: Plus Jakarta Sans;
    text-align: justify;
}

.desc-img{
    width: 50%;
    background-image: url(../img/desc.png);
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .desc-caja{
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 800px) {
    .desc-caja{
        width: 90%;
        flex-direction: column;
    }
    
    .desc-content{
        width: 90%;
    }

    .desc-img{
        width: 100%;
        height: 90%;
        background-image: url(../img/desc1.png);
    }
}