.desc-caja{
    display: flex;
    justify-content: space-between;
    margin: 25px auto 125px auto;
    padding: 25px;
    background-color: white;
    width: 750px;
    height: 750px;
    border-radius: 25px;
}

.desc-content{
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.desc-title, .desc-subtitle{
    font-family: Poppins;
}

.desc-content p{
    font-family: Plus Jakarta Sans;
    text-align: justify;
}

.desc-img{
    width: 50%;
    background-image: url(../img/desc.png);
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .desc-caja{
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 800px) {
    .desc-caja{
        width: 90%;
        flex-direction: column;
    }
    
    .desc-content{
        width: 90%;
    }

    .desc-img{
        width: 100%;
        height: 90%;
        background-image: url(../img/desc1.png);
    }
}