@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

:root{
  --titulo: 'Pacifico', cursive;
  --subtitulos: 'Plus Jakarta Sans', sans-serif;
  --texto: 'Poppins', sans-serif;
  --primary2: #488FDD;
  --primary1: #3781E3;
  --accent: #75A4DA;
  --BG1: #A5C8F3;
  --BG2: #AECEF4;
  --text: #00214D;
}
*{
  box-sizing: border-box;
}
html{
  background-color: var(--BG2);
}
header{
    font-family: var(--titulo);
}

header a{
  color: var(--primary2);
}

.header{
  width: 100%;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul li{
  padding-bottom: 10px;
  margin: 0 auto;
}
.header ul li a  {
  text-align:center;
  display: block;
  text-decoration: none;
  font-family: var(--subtitulos);
  color: var(--text);
}

.header ul .btn-registrarse a {
  background-color: var(--text);
  border-radius: 20px;
  color: var(--BG1);
  font-weight: 700;
  padding: 15px;
}
.btn-registrarse {
  width:200px;
}

.header ul li a:hover{
  color: var(--primary1)
}


header .logo{
  float: left;
  display: block;
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
}


.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
 padding-top: 20px;
 margin-left: 20px;
 margin-right:10px;
 position: relative;
 float: right;
 cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
  }

.header .menu-icon .nav-icon:after{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
  }

.header .menu-btn {
  display: none;
} 

.header .menu-btn:checked ~ .menu{
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
 background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
 transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

/*login*/
.login-max{
  display: flex;
  justify-content: center;
}

.login{    
  background-color: #CADFF8;
  border-radius: 25px;
  padding: 50px;
  box-shadow: 5px 7px 37px -6px rgba(0,0,0,0.58);
-webkit-box-shadow: 5px 7px 37px -6px rgba(0,0,0,0.58);
-moz-box-shadow: 5px 7px 37px -6px rgba(0,0,0,0.58);
}
.datos{
  padding: 0px 10px 10px 10px;
}

.login-max .login h2{
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--text);
 }

.login-max .login .datos h3{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  color: var(--text);
}
.datos form section input{
  border-radius: 5px;
  border:hidden;
}
.datos form{
  display: grid;
  width: 100%;
  grid-template-areas:"area1" "area2" "area3" "area4" "area5";
}
.grid-1{
  grid-area: area1;
}
.grid-2{
  grid-area: area2;  
}
.grid-3{
  grid-area: area3;
}
.grid-4{
  grid-area: area4;   
}
.grid-5{
  grid-area: area5;   
  justify-self: end; 
}

.boton-login{
  font-family: var(--texto);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--text);
  color: var(--BG2);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  border: hidden;
}
@media (min-width: 1300px){

  .logo{
    margin-right: 18%;
  }
 .btn-registrarse a{
  width:110px;
  margin-right:20px;
}
  .header li {
    float: left;
  }
  
  .header li a{
    padding: 20px 30px;
  }
  
  .header .menu{
    margin-top: 1.5%;
    clear: none;
    max-height: none;
  }
  
  .header .menu-icon{
    display: none;
  }
  
}
 

