@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

:root{
  --titulo: 'Pacifico', cursive;
  --subtitulos: 'Plus Jakarta Sans', sans-serif;
  --texto: 'Poppins', sans-serif;
  --primary2: #488FDD;
  --primary1: #3781E3;
  --accent: #75A4DA;
  --BG1: #A5C8F3;
  --BG2: #AECEF4;
  --text: #00214D;
}
*{
  box-sizing: border-box;
}
html{
  background-color: var(--BG2);
}
header{
    font-family: var(--titulo);
}

header a{
  color: var(--primary2);
}

.header{
  width: 100%;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul li{
  padding-bottom: 10px;
  margin: 0 auto;
}
.header ul li a  {
  text-align:center;
  display: block;
  text-decoration: none;
  font-family: var(--subtitulos);
  color: var(--text);
}

.header ul .btn-registrarse a {
  background-color: var(--text);
  border-radius: 20px;
  color: var(--BG1);
  font-weight: 700;
  padding: 15px;
}
.btn-registrarse {
  width:200px;
}

.header ul li a:hover{
  color: var(--primary1)
}


header .logo{
  float: left;
  display: block;
  font-size: 20px;
  padding: 10px 10px;
  text-decoration: none;
}


.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
 padding-top: 20px;
 margin-left: 20px;
 margin-right:10px;
 position: relative;
 float: right;
 cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
  }

.header .menu-icon .nav-icon:after{
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all .2s ease-out;
  }

.header .menu-btn {
  display: none;
} 

.header .menu-btn:checked ~ .menu{
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
 background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
 transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

/*footer*/
footer{
  padding: 20px;
  background-color: var(--text);
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  color: var(--BG2);
  font-family: var(--texto);
}
footer div{
  display: flex;
  flex-direction: column;
}
footer div .logo{
  font-family: var(--titulo);
  font-size: 20px;
  color: var(--BG2);
  text-decoration: none;
}
@media (min-width: 1300px){

  .logo{
    margin-right: 18%;
  }
 .btn-registrarse a{
  width:110px;
  margin-right:20px;
}
  .header li {
    float: left;
  }
  
  .header li a{
    padding: 20px 30px;
  }
  
  .header .menu{
    margin-top: 1.5%;
    clear: none;
    max-height: none;
  }
  
  .header .menu-icon{
    display: none;
  }
  
}
 

